@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: darkslategray;
  color: white;
}

header {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

header h1 {
  text-align: center;
}

.filters div {
  display: flex;
  column-gap: 10px;
}

.filters select {
  font-family: inherit;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.product {
  background-color: darkblue;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  max-width: 400px;
}

.product img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}

.button_container {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
}

.button_container button {
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
}

.cart {
  background: #000;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
  overflow-y: auto;
}

.cart img {
  aspect-ratio: 16/9;
  width: 100%;
}

.cart li {
  position: relative;
  font-size: 10px;
  border-bottom: 1px solid #444;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-cart {
  display: flex;
  gap: 8px;
  align-items: center;
}

.quantity-cart button {
  width: 20px;
  height: 20px;
  background-color: #09f;
  cursor: pointer;
}

.cart li button[title="Sacar del carrito"] {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 10px;
}

.cart-button {
  align-items: center;
  background: #09f;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  right: 8px;
  top: 8px;
  transition: all 0.3s ease;
  width: 32px;
  z-index: 9999;
}

.cart-button:hover {
  scale: 1.1;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}

button[title="Vaciar el carrito"] {
  display: block;
  margin: auto;
  margin-top: 10px;
  cursor: pointer;
}
